.buyButton {
  color: var(--text);
  border-radius: 10px;
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem;
  width: 50%;
  align-self: center;
  transition-duration: 0.4s;
  margin-top: 1rem;
}
.buyButton:hover {
  color: var(--blue-dark);
}
.buyButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
