.walletButton {
  background-color: var(--blue-dark);
  color: var(--text);
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  width: 15rem;
}

.walletButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
